body{
    background-color: azure;
    margin: 0%;
}
header{color: #98ded9;
    background-color: #161d6f;
    height: 80px;
    font-family: 'Domine', serif;
    
}
header nav{
 float: right;
  width: 30%;
  margin-top: 15px;
}    

header h1{
  float: left; 
  margin-left: 40px;
}    

header nav ul li{
  display: inline-block;
  margin-left: 5%;
      
     
}
header nav ul li a{
 color: rgb(47, 189, 189);
 text-decoration: none;
 font-weight: bold;
}

footer {
    background-color: #161d6f;
    color: aqua;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    padding: 10px 0 10px 0;
   
    
}
#photos{
  display: flex;
}

#sub{
  flex: 33.33%;
  padding: 5px;
}


